
.textBox    {

    height:40px;
    width:400px;
}

input#password   {

    height:40px;
    width:400px;
}
    
.labels {

    font-size:30px;
}

#bigDiv  {
    padding-left:320px;
} 

#heading    {

    padding-top:60px; 
    color:gray;
}