h1{
    margin-top: 10%;
    color: black;
    text-align: center;
}
.textBox{
    height:40px;
    width:400px;
}
input #password{
    height:40px;
    width:400px;
}
#bigDiv{
    padding-left:320px;
} 
#heading{
    padding-top:60px; 
    color:gray;
}
label {
    font-size: 1.5em;
}