body{
    background-color: rgb(245,248,250);
}
h1{
    color: white;
}
#familyPosts{
    color: rgb(126,139,143);
}
#ms
{
    background-color:rgb(27,177,178);
}
.card-block, #mission{
    background-color: white;
}
.row, h1, .card-block {
    text-align: center;
}
.fa-trash, img{
    float: right;
}

.fa-smile-o{
    float:left;
}


/*should the button be used this color can be changed kind of hacky*/
.btn-primary, .btn-primary:hover {
    background: #9655a0;
    border-color: #9655a0;
    color: #ffffff;
}

