body{
    background-color: rgb(245,248,250);
    font-family: 'Roboto Condensed', sans-serif !important;
}
#family_survey, #family_posts{
    color: orange;
    text-align: center;
}
#rad_btns, #save_changes, #button, .row, .card-block, #myModalLabel{
    text-align: center;
}
p{
    color: gray;
}
h1{
    font-size: 2.3em;
}
.multi-posts {
    font-size: 1.2em;
}
#chart{
    margin-top: 2em;
    margin-bottom: 2em;
}
#chartContainer{
    height: 450px;
    width: 100%;
    border: 1px solid #dddddd;
}

.canvasjs-chart-canvas {
    position: relative !important;
}

#number {
    margin-left: .05em;
}
#close{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
#sub_survey, #sub_posts{
    margin-top: 2em;
    margin-bottom: 5em;
    text-align: center;
}
/*.fa-trash, img{
    float: right;
}*/
.fa-smile-o{
    float:left;
}

/*should the button be used this color can be changed kind of hacky*/
.btn-primary, .btn-primary:hover {
    background: #9655a0;
    border-color: #9655a0;
    color: #ffffff;
}


