body{
    background-color: rgb(245,248,250);
    font-family: 'Roboto Condensed', sans-serif !important;
}
/*h1{
    color: white;
}*/
/*#familyPosts{
    color: rgb(126,139,143);
}*/
#family_survey, #family_posts{
    color: gray;
}
#ms
{
    background-color:rgb(27,177,178);
}
#number {
    margin-left: .05em;
}
#close{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
#sub_survey, #sub_posts{
    margin-top: 2em;
    margin-bottom: 5em;
}

/*.card-block, #mission{
    background-color: white;
}*/
.row, h1, .card-block {
    text-align: center;
}
.fa-trash, img{
    float: right;
}

.fa-smile-o{
    float:left;
}



/*should the button be used this color can be changed kind of hacky*/
.btn-primary, .btn-primary:hover {
    background: #9655a0;
    border-color: #9655a0;
    color: #ffffff;
}

