body{
    background-color: rgb(252,250,0);
}
.container{
    margin-top: 10em;
    text-align: center;
}
/*#logo{
    float:left;
}*/
#username-field, #email-field, #password-field, #passwordValidate-field, #birth_day-field,
#last_name-field, #first_name-field, #name-field {
        margin-bottom: 1em;
        height: 2em;
        width:20em;
    }
    #btn_sub{
        margin-bottom: 1em;
    }


#navbar {
    visibility: hidden;
}
.btn-primary, .btn-primary:hover {
    background: #9655a0;
    border-color: #9655a0;
    color: #ffffff;
}





/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}
