body{
    background-color: rgb(252,202,131);
}
.container{
    margin-top: 10em;
}
#form-back{
  background-color: #FCD891;
  padding-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
}
  #btn_sub{
        margin-bottom: 1em;
    }

#navbar {
    visibility: hidden;
}
.btn-primary, .btn-primary:hover {
    background: #9655a0;
    border-color: #9655a0;
    color: #ffffff;
}
.col-md-6 {
  padding: 0px;
}





/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}
