body{
    background-color: rgb(252,202,131);
}
.container{
    margin-top: 10em;
}

#btn_sub{
    margin-bottom: 1em;
}

#form-back {
    margin-top: 10%;
}
#navbar {
    visibility: hidden;
}
.btn-primary, .btn-primary:hover {
    background: rgb(255,92,45);
    border-color: rgb(255,92,45);
    color: #ffffff;
}

