body{
    background-color: rgb(252,250,0);
}

/*#logo{
    margin-left: 20em;
    margin-top: 10em;
}*/
/*#form{
    margin-top: -13em;
    margin-left: 25em;
}*/
    #email-field, #pass-field, #btn_sub{
        margin-bottom: 1em;
        height: 2em;
        width:20em;
    }

#navbar {
    visibility: hidden;
}
.btn-primary, .btn-primary:hover {
    background: #9655a0;
    border-color: #9655a0;
    color: #ffffff;
}

