body{
    background-color: rgb(252,250,0);
}
.container{
    margin-top: 10em;
    text-align: center;
}
/*#logo{
    margin-left: 20em;
    margin-top: 10em;
}*/
/*#form{
    margin-top: -13em;
    margin-left: 25em;
}*/
    #email-field, #pass-field {
        height: 2em;
        width:20em;
        margin-bottom: 1em;
    }
#btn_sub{
    margin-bottom: 1em;
}

/*#form{
    margin-top: 10%;
}*/
#navbar {
    visibility: hidden;
}
.btn-primary, .btn-primary:hover {
    background: #9655a0;
    border-color: #9655a0;
    color: #ffffff;
}

