body {
    background-color: rgb(245,248,250);
    font-family: 'Roboto Condensed', sans-serif !important;
}
h1{
    color: white;
}


#user_pic    {
    float: left;
    width: 200px;
    height: 300px;
}

#familyDot  {

    width: 45px;
    height: 35px;
    margin-top: 5px;
}

#pencil {
    font-size:1.5em;
    margin-top: 10px;
}

#card {
  padding: 16px;
  background-color: white;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  box-shadow: 0px 2px -5px #dddddd;
}

#title {
    margin: 0px auto;
    margin-right: 62px;
    margin-top: 100px;
    margin-bottom: 25px;
    position: absolute;
    padding: 15px 40px;
    z-index: 99;
    background-color: rgb(27,177,178);
    /*box-shadow: 0px 2px 5px #999999;*/
    border: 4px solid orange;
}

#title>p {
    font-size: 3.7rem;
    color: #f5f8fa;
    margin: 0
    font-weight: 500;
    width: 60%;
    float: left;
}

.title-image {
    position: absolute;
    margin-left: 688px;
    margin-top: -78px;
    z-index: 100;
}

#codeup-shadow {
    margin-top: -320px;
    margin-left: -15px;
    position: absolute;
    z-index: -20;
    height: 340px;
    width: 340px;
    opacity: 1;
    filter: blur(180px);
}

.img-circle {
    border: 5px solid #FFFFFF !important;
    float:left;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.alert-top-screen {
    padding-top: 60px;
    z-index: 100;
}

#navbar {
    height: 46px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background-color: #fff;
}


#ask-button {
    font-size: 1.5rem;
    color: #222;
    background-color: #FFF;
    cursor: pointer;
    height: 32px;
    margin-top: 7px;
    margin-right: 20px;
    border-bottom: 3px solid #88A6A7;
    border-radius: 5px;
}

.ask-inner {
    padding: 5px;
}

.username {
    font-size: 1.7rem;
    font-weight: bold;
    color: #777;
}

#search-input {
    background-color: #eeeeee;
    border-radius: 17px;
    font-size: 1.2rem;
    width: 200px;
}
/*
.user-image {

    border: 7px solid orange;
    border-radius: 13px;
}*/
.profile_image{
    border: 7px solid orange;
    border-radius: 13px;
}

.answers p {
    font-size: 1.5rem;
}

.well {
    background-color: #FFF;
}

.question {
    color: #FF8F6E;
}

#fa-search {
    float: right;
}

.familydot-logo {
    height: 40px;
    width: 46px;
    margin-top: 5px;
}
#bs-example-navbar-collapse-1 {
  background-color: #FFF;

}
.navbar-right{
  height: 33px;
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

}
.answer-model-link {
    float: right;

}

#delete {
    margin-top: 20px;
    color: red;
    float: right;
}

.hidden {
    visibility: hidden;
}

#add-twitter {
    width: 100%;
}

.twitter-user {
    margin-bottom: 1em;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

#button-div {
    text-align: center;
}

.page-content {
    margin-top: 440px;
}
