body {
    background-color: rgb(245,248,250);
    font-family: 'Roboto Condensed', sans-serif !important;
}
h1{
    color: white;
}

.rel {
    position: relative;
}

#user_pic    {
    float: left;
    width: 200px;
    height: 300px;
}

#familyDot  {

    width: 45px;
    height: 35px;
    margin-top: 5px;
}

#pencil {
    font-size:1.5em;
    margin-top: 10px;
}

#card {
  padding: 16px;
  padding-top: 0;
  background-color: white;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  box-shadow: 0px 2px -5px #dddddd;
}

#title {
    margin: 0px auto;
    margin-top: 40px;
    margin-bottom: 25px;
/*    position: absolute;*/
    padding: 15px 40px;
/*    z-index: 99;*/
    background-color: #2b9aec;
    /*box-shadow: 0px 2px 5px #999999;*/
    border: 4px solid orange;
}

#title>p {
    font-size: 3.7rem;
    color: #f5f8fa;
    margin: 0
    font-weight: 500;
    width: 60%;
    float: left;
}
.hate {
    width: 62%;
    float: left;
}
.title-image {
    position: absolute;
    margin-left: 688px;
    margin-top: -78px;
    z-index: 100;
}
.image-codeup {
    position: relative;
    top: -120px;
    margin-bottom: -130px;
}
#codeup-shadow {
    margin-top: -337px;
    margin-left: -2px;
    position: absolute;
    z-index: -20;
    height: 340px;
    width: 340px;
    opacity: 1;
    filter: blur(180px);
}

.img-circle {
    /*border: 2px solid white;*/
    margin-top: 7px;
    margin-right: 10px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.post-img {
    height: 40px;
    width: 40px;
}

.alert-top-screen {
    z-index: 100;
}

#navbar {
    height: 46px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background-color: #fff;
    position: relative;
}


#ask-button {
    font-size: 1.5rem;
    color: #222;
    background-color: #FFF;
    cursor: pointer;
    height: 32px;
    margin-top: 7px;
    margin-right: 20px;
    border-bottom: 3px solid #88A6A7;
    border-radius: 5px;
}

.ask-inner {
    padding: 5px;
}

.username {
    font-size: 1.7rem;
    /*font-weight: bold;*/
    /*color: #777;*/
    color: #128ee9;
}

#search-input {
    background-color: #eeeeee;
    border-radius: 17px;
    font-size: 1.2rem;
    width: 200px;
}
/*
.user-image {

    border: 7px solid orange;
    border-radius: 13px;
}*/
.profile_image{
    border: 7px solid orange;
    border-radius: 13px;
}

.answers p {
    font-size: 1.5rem;
}

.well {
    background-color: #FFF;
}

.question {
    color: #FF8F6E;
}

#fa-search {
    float: right;
}

.familydot-logo {
    height: 40px;
    /*width: 46px;*/
    margin-top: 5px;
}
#bs-example-navbar-collapse-1 {
  background-color: #FFF;

}
.navbar-right{
  height: 33px;
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

}
.answer-model-link {
    float: right;
}

.answer-link {
    color: #128ee9;
}

#delete {
    margin-top: 20px;
    color: red;
    float: right;
    background-color: transparent;
    border: none;
}

.hidden {
    visibility: hidden;
}

#add-twitter {
    width: 100%;
}

.twitter-user {
    margin-bottom: 1em;
    border: 1px solid #dddddd;
    border-radius: 1px;
}

#button-div {
    text-align: center;
}

.user-answer {
    font-family: 400 Helvetica;
    color: black;
}

.alert-question-edit {
    background-color: none;
    color: #3c763d;
}

.dumb {
    position: relative;
}

.question-username {
    color: #128ee9;
    font-size: 3rem;
    color: white;
}

.user-pic-name {
    background-color: #2b9aec;
    margin-top: 0px;
}
